<h1 class="page-header">SoftBet Test: Silex, Twig, Doctrine DBAL</h1>
</br>
</br>API that handles request / responses for a made up BANK.
</br>This API should be able to handle the following calls and reply in json format:
<ul>
    <li>adding of a customer: <ul><li>Request:​ name, cnp</li><li>Response:​ customerId</li></ul></li>
    <li>getting a transaction:  <ul><li>Request: ​customerId, transactionId</li><li>Response:​ transactionId, amount, date</li></ul></li>
    <li>getting transaction by filters:  <ul><li>Request:​ customerId, amount, date, offset, limit</li><li>Response:​ an array of transactions</li></ul></li>
    <li>adding a transaction:  <ul><li>Request:​ customerId, amount</li><li>Response:​ transactionId, customerId, amount, date</li></ul></li>
    <li>updating a transaction:  <ul><li>Request:​ transactionId, amount</li><li>Response:​ transactionId, customerId, amount, date</li></ul></li>
    <li>deleting a transaction:  <ul><li>Request:​ trasactionId</li><li>Response:​ success/fail</li></ul></li>
</ul>

