<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SoftBet Test</title>

    <!-- jQquery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                {% if is_granted('ROLE_USER') %}
                    <p>Welcome {{ user.username }}!</p>
                {% else %}
                    <p>You are not currently logged in</p>
                {% endif %}
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path.logout }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path.login }}">Login</a></li>
                    <li><a href="{{ path.signup }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="navsidebar" class="nav nav-sidebar">
                <li class="active"><a href="{{ path.about }}"><h3>About</h3><span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="{{ path.transactions }}"><h3>Transactions</h3></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div id="ajax-content" style="width: 98%;"><h1 class="page-header">{% include 'about.html.twig' %}</h1></div>
        </div>
    </div>
</div>
{% autoescape 'js' %}
<script>

    function showTransactions(link, event){
        $(link).addClass("active");
        event.preventDefault();
        $("#ajax-content").empty().append("<div id='loading'><img src='https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif' alt='Loading'/></div>");

        var $inputs = $('#transactions_search_form :input'), values = {}, querystr = [];

        $inputs.each(function() {
            if (typeof this.name == 'string' && this.name.length && this.name != 'offset'){
                values[this.name] = $(this).val();
                querystr.push(this.name + '=' + $(this).val());
            }
        });
        var params = (querystr.join('&').length) ? querystr.join('&') : '';
        $.ajax({
            url: link.getAttribute("href") + params
            , headers: {'Authorization': 'Bearer {% endautoescape %}{{user.access_token}}{% autoescape 'js' %}'}
            , success: function(html){
                $("#ajax-content").empty().append(html);
                return false;
            }
        });
        return false;
    }

    function searchTransactions(event){
        var $inputs = $('#transactions_search_form :input'), values = {}, querystr = [];

        $inputs.each(function() {
            if (typeof this.name == 'string' && this.name.length){
                values[this.name] = $(this).val();
                querystr.push(this.name + '=' + $(this).val());
            }
        });

        if (event != null) {
            event.preventDefault ();
            event.stopImmediatePropagation ();
        }

        $("#ajax-content").empty().append("<div id='loading'><img src='https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif' alt='Loading'/></div>");
        var path = '{% endautoescape %}{{path.transactions}}{% autoescape 'js' %}?' + querystr.join('&');
        $.ajax({
            url: path
            , method: 'GET'
            , headers: {'Authorization': 'Bearer {% endautoescape %}{{user.access_token}}{% autoescape 'js' %}'}
            , success: function(html){
                $("#ajax-content").empty().append(html);
                return false;
            }
        });
        return false;
    }

    $(document).ready(function() {
        $("#navsidebar li a").click(function() {
            $("#ajax-content").empty().append("<div id='loading'><img src='https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif' alt='Loading'/></div>");
            $("#navsidebar li a").removeClass('current');
            $(this).addClass('current');
            $.ajax({
                url: this.href
                , headers: {'Authorization': 'Bearer {% endautoescape %}{{user.access_token}}{% autoescape 'js' %}'}
                , success: function(html){
                    $("#ajax-content").empty().append(html);
                    return false;
                }
            });
            return false;
        });
        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd"
        });

        $("#datepicker").datepicker('setDate', {% if params.date is defined %}{{ params.date }}{% else %}new Date(){% endif %});
    });
</script>
{% endautoescape %}
</body>
</html>



