<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>SignUp Form</title>
      <!-- jQquery -->
      <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      <form class="form-signin" action="api/users/register" method="post">
        <h3 class="form-signin-heading">Please fill in registration info</h3>
        <label for="username">Username: </label>
        <input type="text" id="_username" class="form-control" name="username" placeholder="Username" required autofocus>
        <label for="cnp">CNP: </label>
        <input type="text" id="_cnp" class="form-control" name="cnp" placeholder="CNP" required autofocus>
        <label for="password">Password: </label>
        <input type="password" id="_password" class="form-control" name="password" placeholder="Password" required>
        <input type="hidden" id="signup_form" name="signup_form" value="1">
          {% if error %}
              <div class="error">{{ error }}</div>
          {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
