<h1 class="page-header">Transactions</h1>
{% if is_granted('ROLE_USER') %}
    <div class="table-responsive">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
        <div class="row">
            <div class="col-sm-12" style="margin-bottom: 15px;">
                <form id="transactions_search_form" class="form-inline" onsubmit="searchTransactions(event); return false;">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon add-on-w1">Transaction ID:</div>
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="_transactionId" name="transactionId" value="{% if params is defined and params.transactionId is defined %}{{params.transactionId}}{% endif %}" placeholder="Transaction ID">
                    </div>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon add-on-w1">Customer ID:</div>
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="_customerId" name="customerId" value="{% if params is defined and params.customerId is defined %}{{params.customerId}}{% endif %}" placeholder="Customer ID">
                    </div>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon add-on-w1">Amount:</div>
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="_amount" name="amount" value="{% if params is defined and params.amount is defined %}{{params.amount}}{% endif %}" placeholder="Amount">
                    </div>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon add-on-w1">Date:</div>
                        <input type="text" id="datepicker" class="form-control mb-2 mr-sm-2 mb-sm-0" id="_date" name="date" value="{% if params is defined and params.date is defined %}{{params.date}}{% endif %}" placeholder="Date">
                    </div>

                    <button id="transactions_search" type="submit" class="btn btn-primary">Search</button>
                    <input type="hidden" id="_limit" name="limit" value="{% if params.limit is defined %}{{params.limit}}{% else %}5{% endif %}">
                    <input type="hidden" id="_offset" name="offset" value="{% if offset is defined %}{{offset}}{% else %}0{% endif %}">

                    <div class="pull-right">
                        <div class="dataTables_length">
                            <label>Show <select id="limit_select" class="form-control"><option value="5" {% if params.limit is defined and params.limit == "5" %}selected="selected"{% endif %}>5</option><option value="10" {% if params.limit is defined and params.limit == "10" %}selected="selected"{% endif %}>10</option><option value="50" {% if params.limit is defined and params.limit == "50" %}selected="selected"{% endif %}>50</option></select> Rows</label>
                        </div>
                    </div>
                </form>

                <div class="clearfix"></div>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
            <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Customer ID</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for item in transactions %}
                <tr>
                    <td>{{ item.transactionId }}</td>
                    <td>{{ item.customerId }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <div class="dataTables_paginate paging_bs_normal">
                        <ul id="transactionspaginator" class="pagination" style="z-index: -1;">
                            {% for i in 0..pagesCount-1 %}
                            <li class="page-number {% if params.offset is defined and loop.index0 == offset %}active{% endif %}"><a href="http://timeoff.dev2b.net/transactions?offset={{loop.index0}}&limit={% if params.limit is defined %}{{ params.limit }}{% else %}5{% endif %}" onClick="showTransactions(this, event);">{{ loop.index }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        </div>
    </div>
{% else %}
    Only Logged In user can see content
{% endif %}
{% autoescape 'js' %}
<script>
    $(document).ready(function() {
        $('#limit_select').change(function () {
            var selected = $(this).val();
            $('#_limit').attr('value', selected);
            $('#_offset').attr('value', 0);
            searchTransactions();
        });
        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd"
        });


    });
</script>
{% endautoescape %}